.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  flex: 1;
}

.center-section {
  flex: 1;
  text-align: center;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
/* Hide the step number while keeping the icon visible */
.dialog-actions {
  display: flex;
  justify-content: flex-end;
}
.close-button{
  float: right;
  top:-16px;
  right:-14px;
}

.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}

::ng-deep .icon-outside .close-button{
  float: right;
  top:-52px;
  right:-52px;
}

::ng-deep .icon-outside .mat-dialog-container {
  overflow: unset
}



