<div class="card bg-light-info shadow-none position-relative overflow-hidden">
  <div class="card-body px-4 py-3">
    <div class="row align-items-center">
      <div class="col-9">
        <h4 class="fw-semibold mb-8"> Historique des demandes de connexion</h4>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a class="text-muted " routerLink="/home">Tableau de bord
              </a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
              Historique des demandes de connexion
            </li>
          </ol>
        </nav>
      </div>
      <div class="col-3">
        <div class="text-center mb-n5">
          <img src="/assets/images/breadcrumb/ChatBc.png" alt="" class="img-fluid mb-n4" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-body">
  <div class="d-md-flex align-items-center mb-9">

    <div class="ms-auto mt-4 mt-md-0">
      <ul class="nav nav-tabs" role="tablist">

        <li class="nav-item" role="presentation">
          <a class="nav-link active" data-bs-toggle="tab" href="#home" role="tab" aria-selected="true">
            <span>Demandes en cours</span>
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" data-bs-toggle="tab" href="#profile" role="tab" aria-selected="false" tabindex="-1">
            <span>Demandes reçus</span>
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" data-bs-toggle="tab" href="#messages" role="tab" aria-selected="false" tabindex="-1">
            <span>Liste de relation</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Tab panes -->
  <div class="tab-content mt-3">
    <div class="tab-pane active" id="home" role="tabpanel">
      <div class="table-responsive">
        <table class="table align-middle mb-0 text-nowrap">
          <tbody>
          <tr *ngFor="let demande of relationRequestList">
            <td class="ps-0">
              <div class="d-flex align-items-center gap-3">
                <div>
                  <h6 class="mb-0 fw-semibold">{{demande.companyLegalName}}</h6>
                  <span class="fs-2">{{demande.contactMail}}</span>
                </div>
              </div>
            </td>
            <td class="ps-0">
              <span>{{demande.domaine}}</span>
            </td>

            <td class="text-end ps-0">
              <span class="badge bg-light-warning text-warning rounded-pill">
                <span class="round-8 bg-warning rounded-circle d-inline-block me-1"></span>En cours </span>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane" id="profile" role="tabpanel">
      <div class="table-responsive">
        <table class="table table-hover align-middle mb-0 text-nowrap">
          <tbody>
          <tr *ngFor="let demande of relationRequestListreceive">
            <td class="ps-0">
              <div class="d-flex align-items-center gap-3">
                <div>
                  <h6 class="mb-0 fw-semibold">{{demande.companyLegalName}}</h6>
                  <span class="fs-2">{{demande.contactMail}}</span>
                </div>
              </div>
            </td>
            <td class="ps-0">
              <span>{{demande.domaine}}</span>
            </td>

            <td class="text-end ps-0">
               <button  (click)="acceptrelationRequest(demande.idDemande)" class="badge bg-light-success text-success rounded-pill">

                <span class="round-8 bg-warning rounded-circle d-inline-block me-1"></span>

                Acceptée </button>
             </td>
            <td class="text-end ps-0">
               <button (click)="refuserdemande(demande.idDemande)" class="badge bg-light-warning text-warning rounded-pill">

                <span class="round-8 bg-warning rounded-circle d-inline-block me-1"></span>

                Réfusée </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane" id="messages" role="tabpanel">
      <div class="table-responsive">
        <table class="table table-hover align-middle mb-0 text-nowrap">
          <tbody>
          <tr *ngFor="let demande of relationRequestListAccepted">
            <td class="ps-0">
              <div class="d-flex align-items-center gap-3">
                <div>
                  <h6 class="mb-0 fw-semibold">{{demande.companyLegalName}}</h6>
                  <span class="fs-2">{{demande.contactMail}}</span>
                </div>
              </div>
            </td>
            <td class="ps-0">
              <span>{{demande.domaine}}</span>
            </td>

            <td class="text-end ps-0">
               <span class="badge bg-light-success text-bg-light-success rounded-pill">

                <span class="round-8 bg-warning rounded-circle d-inline-block me-1"></span>

            Acceptés </span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
