  <div class="container-fluid">
    <div class="card bg-light-info shadow-none position-relative overflow-hidden">
      <div class="card-body px-4 py-3">
        <div class="row align-items-center">
          <div class="col-9">
            <h4 class="fw-semibold mb-8">Entreprise Details</h4>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-muted" href="index-2.html">Home</a></li>
                <li class="breadcrumb-item" aria-current="page">Entreprise Details</li>
              </ol>
            </nav>
          </div>
          <div class="col-3">
            <div class="text-center mb-n5">
              <img src="../../assets/images/breadcrumb/ChatBc.png" alt="" class="img-fluid mb-n4">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <ul class="nav nav-pills user-profile-tab" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link position-relative rounded-0 active d-flex align-items-center justify-content-center bg-transparent fs-3 py-4" id="pills-account-tab" data-bs-toggle="pill" data-bs-target="#pills-account" type="button" role="tab" aria-controls="pills-account" aria-selected="true">
            <i class="ti ti-user-circle me-2 fs-6"></i>
            <span class="d-none d-md-block">Entreprise</span>
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link position-relative rounded-0 d-flex align-items-center justify-content-center bg-transparent fs-3 py-4" id="pills-bills-tab" data-bs-toggle="pill" data-bs-target="#pills-bills" type="button" role="tab" aria-controls="pills-bills" aria-selected="false">
            <i class="ti ti-article me-2 fs-6"></i>
            <span class="d-none d-md-block">Numbers</span>
          </button>
        </li>
      </ul>
      <div class="card-body">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-account" role="tabpanel" aria-labelledby="pills-account-tab" tabindex="0">
            <div class="row">
                <div class="card w-100 position-relative overflow-hidden">
                  <div class="card-body p-4">
                    <div class="text-center">
                      <h5 class="card-title fw-semibold">Entreprise</h5>
                      <img src="../../assets/images/profile/user-1.jpg" alt="" class="img-fluid rounded-circle" width="120" height="120">
                      <p class="mb-0"><strong><!--{{legalName}}--></strong></p>
                    </div>
                  </div>
                </div>

              <div class="col-12">
                <div class="card w-100 position-relative overflow-hidden mb-0">
                  <div class="card-body p-4">
                    <h5 class="card-title fw-semibold">Entreprise Details</h5>
                    <form>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="mb-4">
                            <label for="exampleInputPassword1" class="form-label fw-semibold">Legal Name</label>

                          </div>
                          <div class="mb-4">
                            <label for="exampleInputPassword1" class="form-label fw-semibold">Description</label>
                          </div>
                          <div class="mb-4">
                            <label for="exampleInputPassword1" class="form-label fw-semibold">Email</label>
                          </div>
                          <div class="">
                            <label for="exampleInputPassword1" class="form-label fw-semibold">Address</label>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="mb-4">
                            <label for="exampleInputPassword1" class="form-label fw-semibold">Domaine</label>
                          </div>
                          <div class="mb-4">
                            <label for="exampleInputPassword1" class="form-label fw-semibold">Emplacement</label>

                          </div>
                          <div class="mb-4">
                            <label for="exampleInputPassword1" class="form-label fw-semibold">Phone</label>
                          </div>
                          <div class="mb-4">
                            <label for="exampleInputPassword1" class="form-label fw-semibold">web Site</label>
                          </div>
                        </div>

                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-bills" role="tabpanel" aria-labelledby="pills-bills-tab" tabindex="0">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <div class="card">
                  <div class="card-body p-4">
                    <h4 class="fw-semibold mb-3">Statistics</h4>
                      <div class="row">

                        <div class="card">
                          <div class="card-body">
                            <h5>Spline Area Chart</h5>
                            <div id="chart-area-spline"></div>
                          </div>
                        </div>


                      </div>

                  </div>
                </div>
              </div>
              <div class="col-lg-9">
                <div class="card">
                  <div class="card-body p-4">
                    <h4 class="fw-semibold mb-3">Current Plan : <span class="text-success">Executive</span></h4>
                    <p>This Entreprise aims to reach this goal.</p>
                    <div class="d-flex align-items-center justify-content-between mt-7 mb-3">
                      <div class="d-flex align-items-center gap-3">
                        <div class="bg-light rounded-1 p-6 d-flex align-items-center justify-content-center">
                          <i class="ti ti-package text-dark d-block fs-7" width="22" height="22"></i>
                        </div>
                        <div>
                          <p class="mb-0">Current Plan</p>
                          <h5 class="fs-4 fw-semibold">{{currentObjectif}} $ per year</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
