<!-- Sidebar Start -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <a routerLink="/home" class="text-nowrap logo-img">
        <img src="assets/images/logo/logo.png" class="dark-logo" width="180" alt="" />
      </a>
      <div class="close-btn d-lg-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
        <i class="ti ti-x fs-8 text-muted"></i>
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar>
      <ul id="sidebarnav">
        <!-- ============================= -->
        <!-- Home -->
        <!-- ============================= -->
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Home</span>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link"   routerLink="/home"  routerLinkActive="active"   aria-expanded="false">
                  <span>
                    <i class="ti ti-home"></i>
                  </span>
            <span class="hide-menu">Home</span>
          </a>
        </li>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Apps</span>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link"  routerLink="/home"   routerLinkActive="active" aria-expanded="false">
                  <span>
                    <i class="ti ti-relation-many-to-many"></i>
                  </span>
            <span class="hide-menu">Mise en Relation</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link"  routerLink="/home"   routerLinkActive="active"   aria-expanded="false">
                  <span>
                    <i class="ti ti-graph"></i>
                  </span>
            <span class="hide-menu">Expansion des Marchés</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link"  routerLink="/home"   routerLinkActive="active"   aria-expanded="false">
                  <span>
                    <i class="ti ti-search"></i>
                  </span>
            <span class="hide-menu">Découverte des Marchés</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link"  routerLink="/home"   routerLinkActive="active"   aria-expanded="false">
                  <span>
                    <i class="ti ti-friends"></i>
                  </span>
            <span class="hide-menu">Développement du Portefeuille</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link"  routerLink="/home"   routerLinkActive="active"   aria-expanded="false">
                  <span>
                    <i class="ti ti-brand-zoom"></i>
                  </span>
            <span class="hide-menu">Gestion des Réunions B2B</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link"  routerLink="/home"   routerLinkActive="active"   aria-expanded="false">
                  <span>
                    <i class="ti ti-file-unknown"></i>
                  </span>
            <span class="hide-menu">Identification des Besoins</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link"  routerLink="/home"   routerLinkActive="active"  aria-expanded="false">
                  <span>
                    <i class="ti ti-eye-check"></i>
                  </span>
            <span class="hide-menu">Prestation de Services</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link"  routerLink="/home"   routerLinkActive="active"  aria-expanded="false">
                  <span>
                    <i class="ti ti-calendar-event"></i>
                  </span>
            <span class="hide-menu" routerLink="/ourevent" > Gestion des Événements</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link"  routerLink="/home"   routerLinkActive="active"  aria-expanded="false">
                  <span>
                    <i class="ti ti-calendar-event"></i>
                  </span>
            <span class="hide-menu"routerLink="/conf"> Gestion  des Conférences</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/home"   routerLinkActive="active"   aria-expanded="false">
                  <span>
                    <i class="ti ti-calendar-check"></i>
                  </span>
            <span class="hide-menu"> Calendrier</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link"  routerLink="/home"   routerLinkActive="active"  aria-expanded="false">
                  <span>
                    <i class="ti ti-friends"></i>
                  </span>
            <span class="hide-menu"> Promotion des Partenariats</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link"  routerLink="/home"   routerLinkActive="active"  aria-expanded="false">
                  <span>
                    <i class="ti ti-relation-one-to-one"></i>
                  </span>
            <span class="hide-menu"> Private Rooms</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link"  routerLink="/home"   routerLinkActive="active"  aria-expanded="false">
                  <span>
                    <i class="ti ti-chart-arcs"></i>
                  </span>
            <span class="hide-menu">  Développement du Business</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link"  routerLink="/home"   routerLinkActive="active"  aria-expanded="false">
                  <span>
                    <i class="ti ti-file-analytics"></i>
                  </span>
            <span class="hide-menu"> Pénétration des Marchés</span>
          </a>
        </li>


      </ul>
      <div class="unlimited-access hide-menu bg-light-primary position-relative my-7 rounded">
        <div class="d-flex">
          <div class="unlimited-access-title">
            <h6 class="fw-semibold fs-4 mb-6 text-dark w-85">Not Just Working! <br> But Networking</h6>
           </div>
          <div class="unlimited-access-img">
            <img src="assets/images/backgrounds/rocket.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
