<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<body>
<!-- table -->
<table class="table search-table align-middle text-nowrap">

  <thead class="header-item">

  <th>Name</th>
  <th>nomEvent</th>
  <th>dateParticipation</th>

  </thead>
  <div *ngFor="let e of part">

    <tbody>
    <td>
      <div class="d-flex align-items-center">
        <img src="assets/images/profile/user-1.jpg" alt="avatar" class="rounded-circle" width="35" />
        <div class="ms-3">
          <div class="user-meta-info">
            <h6>{{e.nomUser}}</h6>

          </div>
        </div>
      </div>
    </td>
    <td>
      <span>{{e.nomEvent}}</span>
    </td>
    <td>
      <span  >dateParticipation</span>
    </td>

    <td>
      <div class="action-btn">
        <a href="javascript:void(0)" class="text-info edit">
          <i class="ti ti-eye fs-5"></i>
        </a>
        <a href="javascript:void(0)" class="text-dark delete ms-2">
          <i class="ti ti-trash fs-5"></i>
        </a>
      </div>
    </td>
    </tbody>
  </div>

</table>
<!-- table -->

</body>

</html>
